body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  #wd-kanbas .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

/* Styling the active list-group-item */
.list-group.wd > .list-group-item.active {
  color: black; /* Text color of the active item */
  background-color: white; /* White background for the active item */
  border-left: 3px solid black !important; /* Black border on the left for highlighting */
  border-color: transparent; /* Make other borders invisible */
}

/* Styling other list-group-items */
.list-group.wd > .list-group-item {
  color: red; /* Red text for all non-active links */
  background-color: white; /* White background for all non-active links */
  border: none; /* Remove borders for non-active items */
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}
.list-group-item {
  --bs-list-group-border-color: gray;
}
.wd-lesson {
  border-left: 3px solid green !important;
}
